<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#post">投稿する</button>
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with model: @post do |f| %>
          <div class="modal-body">
            <img src="", width="100" height="100", alt="No Image", id="img_prev">
            <%= f.attachment_field :post_image, class:"field" %>
            <%= f.text_field :post_content, class: "form-control", placeholder: "投稿内容を入力" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <h2>みんなの投稿</h2>
  <% @posts.each do |f| %>
    <div class="row">
      <div class="posta">
        <div class="col text-center">
          <%= link_to post_path(f.id) do %>
            <%= attachment_image_tag f, :post_image, :fill, 500, 500, format: 'jpeg'%></br>
          <% end %>
        </div>
          <i><%= f.post_content %></br><i>
          <i>いいね<%= f.favorites.count %></br></i>
          <i>コメント <%= f.post_comments.count %></i>
      </div>
    </div>
  <% end %>
</div>
<div id="favorite_btn">
  <%= render partial: 'publics/favorites/favorite', collection: @posts, as: :post %>
</div>

  
