<div class="container">
  <div class="about-img1">

    <!-- スライド1枚目 -->
    <div class="b">
      <img class="c" <%= image_tag asset_path("time.jpg")%>>
        <div class="title-saitoname">
          <h3>ようこそ Re-stackinng へ</h3>
          <p>あなたも継続し、行動できる1%の人間に</p>
        </div>
    </div>

    <!-- スライド2枚目 -->
    <div class="b">
      <img class="c" <%= image_tag asset_path("stairs.png")%>>
      <div class="text3">
        <p>みなさん何か頑張ろうと思い立っても三日坊主で終わってしまう経験があるのではないでしょうか??</p>
        <P>Re-stacking は三日坊主の防止を促し,皆さんの目標達成をサポートするサイトです。</P>
        <p>メンバー登録し、頑張り続ける人たちと様々なことを共有してみましょう!!</p>
      </div>
    </div>

    <!-- スライド3枚目 -->
    <div class="b">
      <img class="c" <%= image_tag asset_path("emotions.jpg")%>>
      <div class="text1">
        <h3>・なぜ三日坊主になろのか・・・</h3>
        <p>・目的や目標が定まっていない</p>
        <P>・日々やることが決まっていない</P>
        <P>・目標に対して現在地がわからない</P>
        <p>・継続していくことのメリット</p>
      </div>
    </div>

    <!-- スライド4枚目 -->
    <div class="b">
      <img class="c" <%= image_tag asset_path("session.png")%>>
      <div class="text2">
        <P>
        どんなに優秀な人でも目的や日々やる事を明確化出来ないと継続は困難です。
        </br>また、達成した先に報酬がない道のりは走り続けることが出来ないです。ささやかな楽しみで構いません。あなたにとってのご褒美を考えましょう！
        </br>先ほど提示した4点を解消することが三日坊主を克服する近道です。
        </P>
      </div>
    </div>

    <!-- スライド5枚目  -->
    <div class="b">
      <img class="c" <%= image_tag asset_path("woman.jpg")%>>
      <div class="text3">
        <P>どんなに小さなことでも正しいことの継続は必ず結果がついてきます。</P>
        <p>人は３ヶ月で変われます！！</p>
        <p>あなたのLifeはここから生まれ変わる</p>
        <%= link_to "・・・Let's start >>",user_session_path,  class:"btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>

<style>
  h3{
    display:none
  }

  .c{
    width: 100%;
    height: 650px;
  }
</style>
<script>
  $('h3').fadeIn(3000);
</script>
