<!DOCTYPE html>
<html>
  <head>
    <title>ReStacking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= include_gon(:init => true) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
  </head>

  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
           <i class="fas fa-running"></i> Re-stacking
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample7">
          <ul class="nav navbar-nav">
          </ul>
          <p class="navbar-text navbar-right">ようこそ <%= current_user.nick_name %> さん。</p>
        </div>
      </div>
    </nav>
  </header>
    <div id="sp-menu">
      <h2>MENU</h2>
      <% if user_signed_in? %>
        <ul>
          <li>
            <i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト',destroy_user_session_path,method: :delete %>
          </li>
          <li>
            <li class="notification"><%= link_to '通知',notifications_path %>
              <% if unchecked_notifications.any? %>
              <i class="fa fa-circle notification-circle"></i>
            <% end %>
          <li>
            <i class="fas fa-home"></i><%= link_to 'ホーム', user_path(current_user.id) %>
          </li>
          <li>
           <i class="far fa-calendar-alt"></i><%= link_to 'カレンダー',events_path %>
          </li>
          <li>
           <i class="fab fa-usps"></i><%= link_to 'みんなの投稿',posts_path %>
          </li>
        </ul>
        <% elsif admin_signed_in? %>
          <ul>
            <li>
              <i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <li>
              <i class="fas fa-users"></i><%= link_to '登録ユーザー一覧',admins_users_path %>
            </li>
            <li>
              <i class="fab fa-usps"></i><%= link_to '投稿一覧', admins_posts_path %>
            </li>
            <li>
              <i class="fas fa-edit"></i><%= link_to '結果内容変更', admins_results_path %>
            </li>
          </ul>
        <% else %>
        <span></span><br>
          <ul>
            <li>
              <i class="fas fa-users"></i><%= link_to "メンバー登録", new_user_registration_path %>
            </li>
            <li>
              <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン", new_user_session_path %>
            </li>
          </ul>
      <% end %>
      <% path = Rails.application.routes.recognize_path(request.path) %>
         <% if path[:controller] == "admins/sessions" && path[:action] == "new" %>
         <% end %>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  <body>
    <%= yield %>
  </body>
</html>